<dom-module id="waw-posts-list">
  <template>
    <style>
      /* local styles go here */
/*       :host { */
/*         display: block; */
/*       } */
    </style>
    
    
    <div class="panel panel-default">
      <div class="panel-body">
        
        <!-- Toolbar -->
        <nav class="nav nav-pills" data-name="toolbar">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true" 
                style="margin-right: 6px; display: none;"> 
            </span>

            <!-- Number of Posts -->
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            <span class="nav-text">Posts: <span class="badge .small">{{posts.length}}</span> </span>

            <span class="glyphicon glyphicon-cog cogLoading"
                style="display:none;" 
                aria-hidden="true">
            </span>
            
            <br />
            
            <!-- Filter by Categories -->
            <div class="panel panel-info" data-name="categories" style="display: none;">
            
                <div class="nav nav-pills">
                
                    <button type="button" 
                      class="btn btn-default navbar-btn"
                      [class.active]="showFiltered"
                      [class.btn-success]="showFiltered"
                      (click)="click_FilterPosts()">
                        <span class="glyphicon glyphicon-inbox" aria-hidden="true"> 
                        </span>
                        <span class="glyphicon glyphicon-filter" aria-hidden="true">
                        </span>
                    </button>                
                
                
                    <span class="glyphicon glyphicon-tags" aria-hidden="true" style="margin-right: 6px;"> </span>
                    <span>Categories <span class="badge small">{{categories_selected.length}}</span></span>
                    <span>of <span class="badge small">{{categories.length}}</span></span>
                    
                    <button type="button" 
                      class="btn btn-default navbar-btn"
                      on-click="_categoriesSelected_Reset">
                      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>                
                
                </div>
                
                <div class="btn-group btn-group-sm text-justify" 
                    role="group" 
                    aria-label="...">
                    
                    <template is="dom-repeat" items="{{categories_selected}}" as="_catagory_selected" index-as="_catagory_no">
                    
                      <span>
                          <button type="button"
                              on-click="_clickcategoryselected"
                              class="btn btn-sm bg-warning text-warning">
                              {{_catagory_selected.name}} <span class="badge small">{{_catagory_selected.count}}</span>
                          </button>
                      </span>
                        
                    </template>
                </div>
                
            </div>
            <!-- EndOf Filter by Categories -->

        </nav>
        <!-- EndOf Toolbar -->


        <!-- Pagination -->
        <nav>
          <ul class="pager">
            <li *ngIf="pagination.currentPage > 1" class="previous" (click)="pagination_Previous()">
                <a href="javascript:void(null);"><span aria-hidden="true">&larr;</span> Previous</a>
            </li>
            
            <li>
            <ul class="pagination">
                
               <template id="pages_top" is="dom-repeat" items="{{data.pagination._items}}" as="_page" index-as="_page_no">
                
                  <li [class.active]="page.active">
                      <a href="javascript:void(null);"
                          [class.active]="page.active"
                          (click)="pagination_GotoPage(page.pageNum)">
                          {{_page.pageNum}}
                       </a>
                  </li>
                
                </template>
                
            </ul>
            </li>

            <li *ngIf="pagination.currentPage < pagination.pages.length" class="next" (click)="pagination_Next()">
                <a href="javascript:void(null);">Next <span aria-hidden="true">&rarr;</span></a>
            </li>
          </ul>
        </nav>
        <!-- EndOf Pagination -->
        
        
        <br />
      
        <!-- Post Items -->
        <ul class="list-group">
        
        
          <template id="posts_list" is="dom-repeat" items="{{posts}}" as="_post">
            
            
            <li class="list-group-item" data-target$="{{_post.id}}">
            <h3>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{_post.title}}
            </h3>
            <span class="h3"><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{_post.published}} </small></span>
            
            <!-- Button for show/hidde postProperties -->
            <button type="button" class="btn btn-info" data-name="properties"
                on-click="_showHideProperties">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" data-name="icon"></span> 
                Properties
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
                    </span>
            </button> 
            
            
            <!-- Layer for postProperties -->
            <div hidden="true" class="panel panel-info" data-name="properties">
            
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="glyphicon glyphicon-link" aria-hidden="true">&nbsp;</span>
                  <span class="h4">URL blog: </span>
                  <span class="h5"><a href="{{_post.link}}" target="_blank">{{_post.link}}</a></span>
                </li>
                <li class="list-group-item">
                  <div class="btn-group btn-group-sm text-justify" role="group" aria-label="...">
                  <p>
                  <span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;</span>
                  <span class="h4"> Categories: </span>
                  </p>
                  
                    <template is="dom-repeat" items="{{_post.categories}}" as="_catagory" index-as="_catagory_no">
                      <button class="btn btn-sm btn-link" type="button">
                          {{_catagory}}
                      </button>                    
                    </template>

                  </div>            
                </li>
              </ul>

            
            </div>
            
            
            <!-- Button for show/hidde postDetail -->
            <button type="button" class="btn btn-success" data-name="detail"
                on-click="_showHideDetail">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" data-name="icon">
                    </span>
                Content
                <span class="glyphicon glyphicon-file" aria-hidden="true">
                    </span>
            </button>            
            
              
            <!-- Layer for postDetail -->
            <div hidden="true" class="panel panel-success" data-name="detail" 
                data-loaded="false">
              <div class="panel-body">
              </div>
            </div>            
            
            
            </li>
            
          </template>
        
        </ul>
      
      </div>
    </div>
    
    </template>
    
    
    <script>
    Polymer({
        /* this is the element's prototype */
       is: 'waw-posts-list',
       
       properties: {

         mode: {
           type: String,
           value: 'auto'
         },

         posts: {
             type: Array,
             reflectToAttribute: true,
             notify: true,
             value: function() { return []; }

         },
         
         categories: {
             type: Array,
             reflectToAttribute: true,
             notify: true,
             value: function() { return []; }

         },
         
         categories_selected: {
             type: Array,
             reflectToAttribute: true,
             notify: true,
             value: function() { return []; }

         },
         
         data: {
             type: Object,
             reflectToAttribute: true,
             notify: true,
             value: function() { return {}; }
         }

       },
       
       
       
       /**
        * Called when the component is ready
        */
       ready: function() {
//            console.log(this.localName + '#' + this.id + ' has local DOM initialized'); //// TODO: REMOVE DEBUG LOG
       },
         
         
       _init_pagination: function(_options) {
           var _this = this;
           
           var _data = _this.get('data');
           
           console.log('waw-posts-list _init_pagination');   // TODO: REMOVE DEBUG LOG

           // Init pagination properties
           _data.pagination = {
             'currentPage': 1,
             'itemsForPage': 5,
             '_pages': [],
             '_page': {},
             '_items': []
           
           };
           
//            _this.set('data', _data);

       },   // EndOF _init_pagination
       
       
       set_posts: function (_options) {
             
         var _this = this;
         
         // Check options
         _options = (_options === undefined) ? {} : _options;
         
         // Check options.posts
         var _posts = (_options.posts !== undefined) ? _options.posts : _this.get('posts');
             
         // clear an array and add new values
         _this.set('posts', []);  
         _posts.forEach(function(_item, _id){
             _this.push('posts', _item);
         });
         
         _this._paginate();
         _this._paginate_goToPage();


       },   // EndOf set_posts
       
       
       set_categories: function (_options) {
           
           var _this = this;
           
           // Check options
           _options = (_options === undefined) ? {} : _options;
           
           // Check options.categories
           var _categories = (_options.categories !== undefined) ? _options.categories : _this.get('categories');
           
           // clear an array and add new values
           _this.set('categories', []);
           _categories.forEach(function(_item, _i){
               _this.push('categories', _item);
           });
               
           _this._get_categories_selected();
           
       },   // EndOf set_categories
       
       
       _get_categories_selected: function(_options) {
           
           var _this = this;
           var _dom = Polymer.dom(this).node;
           var _categories = _this.categories;

           var _JQ = jQuery;
           
           
           var _categories_selected =_categories.filter(function(_category, _i) {
              
               if (_category._model !== undefined &&
                       _category._model._selected === true) {
                   return true;
               }
           });
           
           
           // clear an array and add new values
           _this.set('categories_selected', []);
           _categories_selected.forEach(function(_item, _i) {
               _this.push('categories_selected', _item);
           });
           
           
           // Show or hide categories layer
           var _layer_categories = _JQ(_dom).find('nav[data-name="toolbar"] div[data-name="categories"]');
           
           if (_categories_selected.length > 0) {
               _JQ(_layer_categories).show();
           } else {
               _JQ(_layer_categories).hide();
           }


       },   // EnfOf _get_categories_selected
       
       
       _categoriesSelected_Reset: function(_event) {
           
           var _this = this;

           var _categories = _this.get('categories');
           
           _categories.forEach(function(_category, _i) {
               
               if (_category._model !== undefined) {
                   _category._model._selected = false;
               }
           });
           
           
           _this.set_categories(
                   { 'categories': _categories });
           
           _this.fire('selectedcategoriesreset');

       },   // EndOf categoriesSelected_Reset
       
       _clickcategoryselected: function(_event) {
           
           var _this = this;

           var _category = _event.model.__data__._catagory_selected;

           _category._model._selected = false;
           _this.set_categories();
           
           _this.fire('catepgoryclicked');
           
       },   // EndOf _clickcategoryselected
       
       
       _showHideProperties: function(_event) {
           
           var _JQ = jQuery;
           
           var _div_properties = _JQ(_event.srcElement).closest('li').find('div[data-name="properties"]');
           var _hidden = _JQ(_div_properties).attr('hidden');
           
           var _div_button = _JQ(_event.srcElement).closest('li').find('button[data-name="properties"]');
           var _span_button = _JQ(_div_button).find('span.glyphicon[data-name="icon"]');


           if (_hidden === 'hidden') {
               
             _JQ(_div_properties).removeAttr( 'hidden' );
             _JQ(_div_button).addClass( 'active' );
             _JQ(_span_button).removeClass( 'glyphicon-eye-open' );
             _JQ(_span_button).addClass( 'glyphicon-eye-close' );
               
           } else {
               _JQ(_div_properties).attr('hidden', "true");
               _JQ(_div_button).removeClass( 'active' );
               _JQ(_span_button).removeClass( 'glyphicon-eye-close' );
               _JQ(_span_button).addClass( 'glyphicon-eye-open' );

           }
           
           
       },   // EndOf _showHideProperties

       
       _showHideDetail: function(_event) {
           
           var _JQ = jQuery;
           
           var _div_detail = _JQ(_event.srcElement).closest('li').find('div[data-name="detail"]');
           var _hidden = _JQ(_div_detail).attr('hidden');
           
           var _div_button = _JQ(_event.srcElement).closest('li').find('button[data-name="detail"]');
           var _span_button = _JQ(_div_button).find('span.glyphicon[data-name="icon"]');
           
           // Paint detail content
           if (_JQ(_div_detail).attr('data-loaded') === 'false') {
               
               var _post = _event.model.__data__._post;
               _JQ(_div_detail).find('div.panel-body').html(_post.content);
               _JQ(_div_detail).attr('data-loaded', "true")
           } 
           
           
           if (_hidden === 'hidden') {
               
               _JQ(_div_detail).removeAttr( 'hidden' );
               _JQ(_div_button).addClass( 'active' );
               _JQ(_span_button).removeClass( 'glyphicon-eye-open' );
               _JQ(_span_button).addClass( 'glyphicon-eye-close' );
                 
           } else {
               _JQ(_div_detail).attr('hidden', "true");
               _JQ(_div_button).removeClass( 'active' );
               _JQ(_span_button).removeClass( 'glyphicon-eye-close' );
               _JQ(_span_button).addClass( 'glyphicon-eye-open' );

           }

           
       },    // EndOf _showHideDetail
       
       
       _paginate: function(_options) {
           
           var _this = this;
           var _pagination = _this.get('data.pagination');
           
           if (_pagination === undefined) {
               _this._init_pagination();
               _pagination = _this.get('data.pagination');
           }
           
           console.log('waw-posts-list _paginate');   // TODO: REMOVE DEBUG LOG
           
           // Check options
           _options = (_options === undefined) ? {} : _options;
           
           // Check options.itemsForPage
           var _itemsForPage = (_options.itemsForPage !== undefined) ? _options.itemsForPage : _pagination.itemsForPage;

           var _posts = _this.get('posts');
           
           
           _pagination.currentPage = 1;
           _pagination._pages = {};
           
           var _i,_j,_k=0;
           for (_i=0, _j=_posts.length; _i<_j; _i+=_itemsForPage) {
               _k++;
               _pagination._pages['page_'+ _k] = {
                 'pageNum': _k,
                 'items': _posts.slice(_i, _i+_itemsForPage)
               };
           }
           
           console.log(_pagination);   // TODO: REMOVE DEBUG LOG

           
       },    // EndOf _paginate
       
       
       _paginate_goToPage: function(_options) {
           
           var _this = this;
           var _pagination = _this.get('data.pagination');
           
           console.log('waw-posts-list _paginate_goToPage');   // TODO: REMOVE DEBUG LOG
           
           // Check options
           _options = (_options === undefined) ? {} : _options;
           
           // Check options.currentPage
           var _currentPage = (_options.currentPage !== undefined) ? _options.currentPage : _pagination.currentPage;
           

           if ( _currentPage <= _pagination._pages.length && 
                   _currentPage >= 1) {
               _pagination._page = _pagination._pages['page_' + _currentPage];
           } else {
               _pagination._page = _pagination._pages['page_1'];
           }
           
           console.log(_pagination);   // TODO: REMOVE DEBUG LOG

           // clear an array and add new values
           _this.set('data.pagination._items', []);
           
           for (var _key in _pagination._pages) {
               _this.push('data.pagination._items', _pagination._pages[_key]);
           }
           
           
           // pages_top
//            _this.$.pages_top.render();

           
       }    // EndOf _paginate_goToPage

           
       
         
    });    
    </script>
    
</dom-module>